.alert {
    width: 70%;
    margin: 40px auto;
    text-align: left;
}

.close-alert {
    font-family: monospace;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    border: none;
    float: right;
}

.close-alert:hover {
    cursor: pointer;
}

