.App {
  text-align: center;
}
.show-modal {
  margin: 20px auto;
  padding: 10px;
  border: none;
  background: #91a4c4;
  border-radius: 5px;
}

.show-modal:hover{
  background: #b1c1db;
  cursor: pointer;
}

.btn {
  text-transform: capitalize;
  margin: 0 4px;
}