.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 10px 0;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: left;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.modal-title {
    margin: 0;
    padding: 0 0 16px 10px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

.close-modal {
    font-size: 16px;
    font-style: normal;
    border-radius: 4px;
    margin: 0 4px;
    float: right;
    padding: 4px 8px;
    border: none;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-content {
    margin: 0;
    padding: 16px 0 0 10px;
    border: none;
}